/* Identidade Verde Matrix para o Nível 0 */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #62ff8a; /* A cor que o script.js vai ler para as partículas */
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.owner-link {
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #62ff8a;
    color: #62ff8a;
    text-decoration: none;
    box-shadow: 0 0 15px #62ff8a;
    transition: 0.3s;
}

.owner-link:hover {
    background: #62ff8a;
    color: #000;
}
